.navbar-full{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--navbar-color);
    padding:1% 10%;
}
.navbar-logo{
   border:2px solid var(--border-color);
    width:3rem;
    height: 3rem;
   border-radius: 100%;
   display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: var(--fs-md);
    font-weight: var(--font-regular);
}
.navbar-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:4rem;
}
.navbar-other-info{
    display:flex;
    flex-direction: row;
    gap: 3rem;
    font-size: var(--fs-md);
    font-weight: var(--font-regular);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: capitalize;
}